/* ///////////////////////
    **** GLOBAL  *****
////////////////////// */
*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Averia Sans Libre', cursive, sans-serif;
    font-weight: 100;
    letter-spacing: .1rem;
  }
  
img {
max-width: 100%;
}



      /* /////////////////////////////
      **** LOGO *****
      /////////////////////////// */

.header {
  background-color: #F9F871;
}

.logo__name{
  display: flex;
  align-items: center;
  margin-left: 3rem;
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
}

.logo__word {
  position: relative;
  text-shadow: .5px .5px 0px white, -0.5px -0.5px 0px white;
  font-size: 2rem;
}
.logo__word_all {
  font-size: 3rem;
  color: #000000;
}
.logo__word_about {
  color: #6666e5;
  left: -1rem;
}

.logo__word_me {
  font-family: 'Babylonica', cursive;
  left: -2rem;
}