/* ///////////////////////
    **** GLOBAL  *****
////////////////////// */
*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Averia Sans Libre', cursive, sans-serif;
    font-weight: 100;
    letter-spacing: .1rem;
  }
  
img {
max-width: 100%;
}



      /* /////////////////////////////
      **** LOGO *****
      /////////////////////////// */
.logo__name{
  display: flex;
  align-items: center;
  margin-left: 3rem;
  font-size: 3rem;
}

.logo__word {
}
.logo__word_all {
  font-size: 3rem;
  color: #000000;
  z-index: -2;

}
.logo__word_about {
  position: relative;
  color: #6666e5;
  z-index: -1;
  font-size: 2rem;
  left: -1rem;
  text-shadow: .5px .5px 0px white, -0.5px -0.5px 0px white;
}

.logo__word_me {
  font-family: 'Babylonica', cursive;
  font-size: 2rem;
  position: relative;
  left: -2rem;
  text-shadow: .5px .5px 0px white, -0.5px -0.5px 0px white;
  border-radius: 8px;
}