/* ///////////////////////
    **** GLOBAL  *****
////////////////////// */
*, *:before, *:after {
    box-sizing: border-box;
  }
  
img {
max-width: 100%;
}



      /* /////////////////////////////
      **** LOGO *****
      /////////////////////////// */

.header {
  font-family: 'Averia Sans Libre', cursive;  
  background-color: #F9F871;
}

.logo__name{
  display: flex;
  align-items: center;
  margin-left: 3rem;
  font-size: 3rem;
  margin: 0;
  padding: 1rem;
}

.logo__word {
  position: relative;
  text-shadow: .5px .5px 0px white, -0.5px -0.5px 0px white;
  font-size: 2rem;
}
.logo__word_all {
  font-size: 3rem;
  color: #000000;
}
.logo__word_about {
  color: #6666e5;
  left: -1rem;
}

.logo__word_me {
  font-family: 'Babylonica', cursive;
  left: -2rem;
}




      /* ////////////////////// 
      ***** MAIN *******
      /////////////////////// */

main {
  font-family: 'Source Sans Pro', sans-serif;
}

.intro-module {
  display: flex;
  background: #F9F871;
  flex-wrap: wrap;
}
.title {
  font-size: 5.5rem;
  line-height: 4rem;
  background: #F9F871;
  margin: 0;
  padding: 3rem 0rem 5rem 1rem;
  color: #246D7C;
}

.title__inner-word_color-var {
  font-style: normal;
  font-size: 3rem;
  color: #000;

}


.intro__paragraph {
  background-color: #F9F871;
  font-size: 1.2rem;
  margin: 0;
  padding: 1rem;
  flex-basis: 60vw;
}

@media screen and (max-width: 450px) {

  .title {
    font-size: 4.5rem;
    line-height: 3.2rem;
  }
  
  .title__inner-word_color-var {
    font-size: 2rem;
  }
  
  .intro__paragraph {
    flex-basis: 70vw;
  }
}